{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Оплата</h1>
<section>
  <div class="row">
    <div class="col-md-8" style="width: 65%; padding-right: 20px;">
      <form method="post" action="#">
        <div><h2>Доставка</h2></div>
        <div class="form-group">
          <input type="text" name="first-name" id="first-name" value="" placeholder="Имя" class="form-control" />
        </div>
        <div class="form-group">
          <input type="text" name="last-name" id="last-name" value="" placeholder="Фамилия" class="form-control" />
        </div>
        <div class="form-group">
          <input type="email" name="email" id="email" value="" placeholder="Email" class="form-control" />
        </div>
        <div class="form-group">
          <input type="tel" name="phone" id="phone" value="" placeholder="Телефон" class="form-control" />
        </div>
        <div class="form-group">
          <input type="text" name="address-line-1" id="address-line-1" value="" placeholder="Адрес" class="form-control" />
        </div>
        <div class="form-group">
          <input type="text" name="address-line-2" id="address-line-2" value="" placeholder="Адрес (дополнительно)" class="form-control" />
        </div>
      </form>
    </div>
    <div class="col-md-4" style="width: 35%;">
      <div><h2>Ваш заказ</h2></div>
      <div>
        <p>Это место под краткое описание что в заказе.
           Это место под краткое описание что в заказе.</p>
      </div>
      <div><h2>Способ оплаты</h2></div>
      <div>
        <p>Это место под оплату картой и выбор способа оплатой.
           Это место под оплату картой и выбор способа оплатой.</p>
      </div>
    </div>
  </div>
</section>


{% endblock %}