<footer id="footer">
    <div class="inner">
        <section>
            <h2>Оставлись вопросы? Свяжитесь с нами</h2>
            <form method="post" action="{% url 'users:feedback_processing'%}">
                {% csrf_token %}
                <div class="fields">
                    <div class="field half">
                        <input type="text" name="feedback_name" id="feedback_name" placeholder="Имя" />
                    </div>
                    <div class="field half">
                        <input type="email" name="feedback_email" id="feedback_email" placeholder="Почта" />
                    </div>
                    <div class="field">
                        <textarea name="feedback_message" id="feedback_message" placeholder="Сообщение"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Отправить" class="primary" /></li>
                </ul>
            </form>
        </section>
        <section>
            <h2>Мои ресурсы</h2>
            <ul class="icons">
                <li><a href="https://github.com/dagedarr" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="https://t.me/nilotan" class="icon solid style2 fa-phone"><span class="label">Telegram</span></a></li>
                <li><a href="mailto:arnat64@mail.ru" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </section>
    </div>
</footer>
