{% extends "base.html" %}

{% block content %}
<p>Привет! Меня зовут Натолин Артем, и я создатель этого проекта по созданию интернет-магазина. Я занимаюсь web-разработкой и стремлюсь к тому, чтобы создавать качественные, удобные и функциональные веб-приложения.</p>
<p>Я изучаю web-разработку уже несколько лет и мой проект по созданию интернет-магазина является частью моего обучения. В этом проекте я стараюсь применить все знания и навыки, которые я приобрел, и создать максимально полезный и удобный магазин.</p>
<p>Если вы хотите связаться со мной, то можете написать мне на почту или посетить мою страницу в социальных сетях, где я буду рад ответить на ваши вопросы и обсудить возможности сотрудничества. Ссылки на них расположены ниже.</p>
<p>Спасибо, что посетили мой проект по созданию интернет-магазина! Другие мои проекты можно также посмотреть на моей странице GitHub</p>
{% endblock %} 