{% extends "base.html" %}

{% block content %}
<p>Сайт был создан с помощью фреймворка Django и библиотек для него. База данных реализована на SQLite, а дизайн сайта был разработан с использованием HTML и CSS и JS.</p>
<p>Я работал на тем чтобы сайт был максимально быстрым и удобным для пользователей. Фреймворк Django был выбран для создания надежного и безопасного веб-приложения, а база данных SQLite позволяет эффективно хранить и управлять информацией.</p>
<p>Дизайн основан на HTML, CSS и JS, которые использовались для создания красивого и функционального пользовательского интерфейса. Я постоянно работаю над улучшением дизайна сайта чтобы предоставить пользователям наилучший опыт.</p>
<p>Если у вас есть какие-либо вопросы или предложения по улучшению сайта, пожалуйста, свяжитесь со мной по ссылкам снизу. Я буду рад услышать ваше мнение и помочь вам в любых вопросах.</p>
{% endblock %} 