{% extends "base.html" %}
{% block content %}
{% load static %}
<h2> {{ item.title }} </h2>
<p><span class="image left"><img src="{% static "images/pic14.jpg" %}" alt="" /></span>{{ item.description }}</p>
    {% if item.old_price %}
        <p>Старая цена: <s>{{ item.old_price }} рублей</s></p>
        <p>Новая цена: {{ item.price }} рублей </p>
    {% else %}
        <p>Цена: {{ item.price }} рублей </p>
    {% endif %}
    <ul class="actions">
        <li><a href="/cart" class="button small">Добавить в корзину</a></li>
    </ul>
{% endblock %} 