{% extends "base.html" %}

{% block content %}
{% load static %}
    <h2>{{ tag.name }}</h2>
    Количество товаров:&ensp;{{ tag.items.count }}
    <p><a href="{% url 'store:tag_list'%}"><b>Все категории</b></a></p>
    <hr>
{% for item in page_obj %}
    <a href="{% url 'store:item_details' item.slug %}"><b>{{ item.title }}</b></a>
    <p><span class="image left">
        {% if item.image %}
            <img src="{{ item.image.url }}" alt="" style="max-width: 200px; max-height: 200px;"/>
        {% else %}
            <img src="{% static "images/pic01.jpg" %}" alt="" />
        {% endif %}
        <a href="{% url 'cart:add_to_cart' item.slug %}" class="button small" style="margin-top:10px;">
            Добавить в корзину</a>
        </span>
    </p>
    <p>{{ item.description }}</p>
    {% if item.old_price %}
        <p>Старая цена: <s>{{ item.old_price }} рублей</s>
        Новая цена: <b>{{ item.price }}</b> рублей </p>
    {% else %}
        <p>Цена: <b>{{ item.price }}</b> рублей </p>
    {% endif %}
    {% if not forloop.last %}<hr>{% endif %}
{% endfor %}
{% endblock %} 