{% extends 'base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "assets/css/users.css"%}" />
{% endblock %}

{% block content %}
  <h1>Забыли пароль?</h1>
  <p>Введите почту в форму и мы вышлем Вам на нее инстуркцию по смене пароля.</p>

  <form method="POST" action="{% url 'users:password_reset_form' %}">
    {% csrf_token %}
    {% for field in form %}
    <p>
    <div class="form-field">
      <label for="{{ field.id_for_label }}">{{ field.label }}:</label> {{ field }}
    </div>
    {% if form.errors %}
    <div class="alert alert-danger">
        {% for error in field.errors %}
          <p>{{ error }}</p>
        {% endfor %}
    </div>
  {% endif %}
  </p>
  {% endfor %}
    <input type="submit" value="Отправить">
  </form>
{% endblock %}